In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv(r'C:\Users\singh\Documents\DATA ANALYTICS BOOTCAMP\data_jobs.csv')

# converting the job_posted_date object to datetime
df['job_posted_date'] = pd.to_datetime(df.job_posted_date)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785741 entries, 0 to 785740
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785741 non-null  object
 1   job_title              785740 non-null  object
 2   job_location           784696 non-null  object
 3   job_via                785733 non-null  object
 4   job_schedule_type      773074 non-null  object
 5   job_work_from_home     785741 non-null  bool
 6   search_location        785741 non-null  object
 7   job_posted_date        785741 non-null  datetime64[ns]
 8   job_no_degree_mention  785741 non-null  bool
 9   job_health_insurance   785741 non-null  bool
 10  job_country            785692 non-null  object
 11  salary_rate            33067 non-null   object
 12  salary_year_avg        22003 non-null   float64
 13  salary_hour_avg        10662 non-null   float64
 14  company_name           785723 non-null  object
 15  job_skills             668704 non-null  object
 16  job_type_skills        668704 non-null  object
dtypes: bool(3), datetime64[ns](1), float64(2), object(11)
memory usage: 86.2+ MB

In [4]:
# there are a lot of null values and we are going to replace them
df.salary_year_avg
# calc the median value for this col
median_salary_year_avg = df['salary_year_avg'].median()
median_salary_hour_avg = df['salary_hour_avg'].median()

In [5]:
# using the fillna method
df['salary_hour_avg'] = df['salary_hour_avg'].fillna(median_salary_hour_avg)
df['salary_year_avg'] = df['salary_year_avg'].fillna(median_salary_year_avg)

In [6]:
df['salary_year_avg']

0         115000.0
1         115000.0
2         115000.0
3         115000.0
4         115000.0
            ...
785736    115000.0
785737    115000.0
785738    115000.0
785739    115000.0
785740    115000.0
Name: salary_year_avg, Length: 785741, dtype: float64

In [7]:
# Dropping duplicates

df_unique = df
df_unique = df_unique.drop_duplicates()

print('Original length of the dataset: ', len(df))
print('Length of the dataset after dropping the duplicates: ', len(df_unique))
print('rows dropped: ', len(df)-len(df_unique))

Original length of the dataset:  785741
Length of the dataset after dropping the duplicates:  785640
rows dropped:  101

In [8]:
# now also using the subset
df_unique = df_unique.drop_duplicates(subset = ['job_title', 'company_name'])

print('Original length of the dataset: ', len(df))
print('Length of the dataset after dropping the duplicates: ', len(df_unique))
print('rows dropped: ', len(df)-len(df_unique))

Original length of the dataset:  785741
Length of the dataset after dropping the duplicates:  508042
rows dropped:  277699